/* Put your styles and imports here */
body {
	color: #fff;
	background: #1d1f20;
}

.testRoot{
	color: pink;
}

@import "importmepls.css";
@import url("importmepls.css");

@import "./themes/yolo/angular.pcss";
@import "./themes/yolo/react.css";

@import url("./themes/yolo/angular.pcss");
@import url("./themes/yolo/react.css");

@import "themes/yolo/angular.pcss";
@import "themes/yolo/react.css";

@import url("themes/yolo/angular.pcss");
@import url("themes/yolo/react.css");
